@page "/factions"
@inject HttpClient Http
@inject NavigationManager Navigation


<body>
    <main>
        @if (factions == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <h3 class="title">Choose your Faction</h3>
            <div class="factions">
                @foreach (var faction in factions)
                {
                    var url = $"/factions/{faction.Id}";
                    <Div>
                        @if (faction.Id == 1)
                        {
                            <h3 class="alliance">@faction.Name</h3>
                        }
                        else if (faction.Id == 2)
                        {
                            <h3 class="horde">@faction.Name</h3>
                        }
                        <img class="img" src="@faction.ImageUrl" alt="@faction.Name"
                             style="width:150px; cursor:pointer; margin-right:20px"
                             @onclick="() => Navigation.NavigateTo(url)" />
                    </Div>
                }
            </div>
        }
    </main>
</body>
   




@code {
    private List<FactionDto>? factions;

    protected override async Task OnInitializedAsync()
    {
        factions = await Http.GetFromJsonAsync<List<FactionDto>>("api/factions");
    }
}