.login {
    background-image: url('/images/wowbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-label {
    font-family: 'Comic Sans MS';
    color: #FFFFFF;
}

.text-center {
    font-family: 'Comic Sans MS';
    color: #FFFFFF;
}

.btn-login {
    border-radius: 10px;
    background-color: #38598b;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Comic Sans MS';
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .btn-login:hover {
        background-color: #36a4b7;
        color: #FFFFFF;
    }
