@page "/"
@using WebAppBlazor.Pages.Auth


<PageTitle>WoWInformation</PageTitle>

<body>
    <main>
        <Div>
            <AuthorizeView>
                <Authorized>
                    <Div>
                        <Hero />
                    </Div>
                </Authorized>
                <NotAuthorized>
                    <h1 class="logintitle">Welcome to Wowinformation!</h1>
                    <section class="main">
                        <Login />
                    </section>
                </NotAuthorized>
            </AuthorizeView>
        </Div>
    </main>

</body>





