@page "/"
@using WebAppBlazor.Pages.Auth

<PageTitle>WoWInformation</PageTitle>

<Div Class="Header">
    <AuthorizeView>
        <Authorized>
            <p class="">Welcome! @context.User.Identity?.Name! Choose Your faction to explore!</p>
        </Authorized>
        <NotAuthorized>
          <Login />
        </NotAuthorized>
    </AuthorizeView>
</Div>


