@page "/Profile"
@inject HttpClient http
@attribute [Authorize]

<body>
    <main class="container mt-5">
        @if (userProfile == null)
        {
            <p class="text-light"><em>@message</em></p>
        }
        else
        {
            <div class="profile-box p-4 rounded">
                <h3 class="title">Profile</h3>

                <div class="name row mb-4">
                    <label class="col-md-3 col-form-label profile-label">User Name</label>
                    <div class="col-md-8">
                        <input class="form-control-plaintext profile-input" readonly @bind="userProfile.Name" />
                    </div>
                </div>

                <div class="row mb-4">
                    <label class="col-md-3 col-form-label profile-label">Email</label>
                    <div class="email col-md-8">
                        <input class="form-control-plaintext profile-input" readonly @bind="userProfile.Email" />
                    </div>
                </div>

                <div class="row mb-4">
                    <label class="col-md-3 col-form-label profile-label">Phone</label>
                    <div class="phone col-md-8">
                        <input class="form-control-plaintext profile-input" readonly @bind="userProfile.PhoneNumber" />
                    </div>
                </div>
            </div>


        }
    </main>
</body>




@code {
    public UserProfile? userProfile = null;
    private string message = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            message = "Loading...";

            userProfile = await http.GetFromJsonAsync<UserProfile>("api/Account/Profile");
        }
        catch
        {
            message = "Cannot read user profile!";
        }
    }
}
