<footer class="footer">
    <p>&copy; 2025 All rights reserved.</p>
</footer>

<style>
    .footer {
        text-align: center;
        padding: 1rem;
        color: #FFFFFF;
        font-family: 'Comic Sans MS';
        background-image: url('/images/wowbg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        background-attachment: fixed;
        bottom: 0;
        width: 100%;
    }
</style>